@font-face {
    font-family: 'Blackletter';
    src: url('BlackletterShadow-6YAA.ttf') format('ttf'),
         url('BlackletterExtrabold-51DV.ttf') format('ttf');
  }

html {
    background-color: black;
    color: white;
}

.bannerText {
    text-align: center;
    margin: 0 auto;
}
.breadcrumb {
    background-color: #f8a204;
    padding: 10px;
    border-radius: 7px;
  }
  
  .breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .breadcrumb li {
    display: inline;
  }
  
  .breadcrumb li:not(:last-child)::after {
    content: "›"; /* Use any separator you like */
    margin: 0 5px;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #333;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }